<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetStudy.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DotNetStudy.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
                        </li>
                    </ul>
                </div>
                <a asp-controller="Goods" asp-action="Index">后台管理</a>
                <ul class="navbar-nav ml-md-auto">
                    @if (Context.Request.Cookies.TryGetValue("UserName", out var userName))
                    {
                        <li class="nav-item">
                            @userName
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/Account/UserProfile">查看用户详细信息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/Account/SignOut">注销</a>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link px-1 mx-1 py-3 my-n2" href="/Account/Login">登录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-1 mx-1 py-3 my-n2" asp-controller="Account" asp-action="Register">注册 </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-3">
                   
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" href="/Goods/ManagementGoods">商品展示</a>
                            <a class="list-group-item list-group-item-action" href="/GoodsType/ShowGoodsType">商品分类管理</a>
                            <a class="list-group-item list-group-item-action" href="/GoodsImgae/Show" role="tab">商品图片管理</a>
                        </div>
                   
                </div>
                <div class="col-9">
                    <div class="tab-content" id="nav-tabContent">
                       
                            @RenderBody()

                       
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DotNetStudy.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
