
@{
    ViewData["Title"] = "AddGoodsType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>添加分类</h4>
<form action="/Goods/AddGoodsType" method="post">
    <label class="control-label">请填写要添加的分类：</label>
    <input type="text"  name="GoodsTypeName" id="GoodType"  class="form-control"/>
    
    <select name="HigherLevelId">
        @{
            int HeigherLvl = 10;
            for (int i = 1; i < HeigherLvl; i++)
            {
                <option value="@i">@i</option>               
            }
        }
    </select>
           
    <input type="submit" value="确定添加"/>
</form>
