
@{
    ViewData["Title"] = "ShowGoodsType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DotNetStudy.Web.Models.GoodsType>
<h1>商品分类</h1>
<table>
    <tr>
        <th>编号id</th>
        <th>上一级id</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>

    @{
        foreach (var item in Model)
        {
            <tr>
                <td>@item.GoodsTypeId</td>
                <td>@item.HigherLevelId</td>
                <td>@item.GoodsTypeName</td>
                <td>@Html.ActionLink("更新分类", "UpdateGoodsType", new {id=item.GoodsTypeId })</td>
            </tr>
        }
    }
</table>
<div>
    <a href="/Goods/ShowGoods">返回</a>
</div>

