@model DotNetStudy.Web.ViewModels.PayViewModels.PaymentViewModel
@{
    ViewData["Title"] = "PayPage";
}
<h3>支付方式</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="PayRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment" class="control-label">支付方式：</label>
                @Html.RadioButtonFor(Model => Model.Payment, "微信", new { @id = "Wechat", @name = "Payment" })
                <label for="Wechat">
                    微信
                </label>
                @Html.RadioButtonFor(Model => Model.Payment, "支付宝", new { @id = "Alipay", @name = "Payment" })
                <label for="Alipay">
                    支付宝
                </label>
                <span asp-validation-for="Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="支付" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
