@{
    ViewData["Title"] = "ShowMyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <div class="btn-group" data-toggle="buttons">
            <table>
                <tr>
                    <td>
                        <label class="btn btn-info">
                            <input type="radio" class="level_select" name="level_select" value="1">水准4（波/测）
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-info">
                            <input type="radio" class="level_select" name="level_select" value="2">水准3（波/测）
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-info">
                            <input type="radio" class="level_select" name="level_select" value="3">水准2（波/测）
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="btn btn-info">
                            <input type="radio" class="level_select" name="level_select" value="4">水准1（波/测）
                        </label>
                    </td>
                </tr>
            </table>                    
        </div>
    </div>
    <div>
        确定订单信息
    </div>
    <div>
        最后确认订单详情
    </div>
    <div> <button type="submit" class="btn btn-primary">确认支付</button></div>
</div>