@model DotNetStudy.Web.ViewModels.MyAddressViewModel.AddNewAddressModel

@{
    ViewData["Title"] = "AddNewAddress";
}

<h3>添加新地址</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewAddress">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Receiver" class="control-label">收货人</label>
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">电话</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">地址</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressInfo" class="control-label">详细地址</label>
                <input asp-for="AddressInfo" class="form-control" />
                <span asp-validation-for="AddressInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="提交" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
