@model DotNetStudy.Web.ViewModels.MyAddressViewModel.MyAddressModel

@{
    ViewData["Title"] = "Edit";
}

<h3>编辑地址</h3>
<form action="/MyAddress/UpdateMyAddress" method="post">
    <div class="row">
        <div class="col-md-6">收货人</div>
        <div class="col-md-6"><input asp-for="Receiver" /> </div>
        <div class="col-md-6">电话</div>
        <div class="col-md-6"><input asp-for="Phone" type="tel" /></div>
        <div class="col-md-6">地址</div>
        <div class="col-md-6"><input asp-for="Address" /></div>
        <div class="col-md-6">详细地址</div>
        <div class="col-md-6"><input asp-for="AddressInfo" /></div>
    </div>
        <input type="hidden" asp-for="Id"/>
        <button type="submit" class="btn btn-primary">修改地址信息</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
